@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.tilt-neon,
body {
  background-color: @background;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
